<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .done {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <main id="app">
        <h3>{{title}}</h3>
        <form @submit.prevent="addTodo">
            <label for="newTodo">Nueva tarea</label>
            <input v-model="newTodo" type="text" name="newTodo" id="newTodo">
            <button type="submit" name="button">Add</button>
        </form>
        <!-- <h4>{{newTodo}}</h4> -->
        <ul>
            <li v-for="todo in todos">
                <input type="checkbox" v-model="todo.done">
                <span :class="{ done : todo.done }">{{todo.title}}</span>
                <button @click="removeTodo(todo)" type="button">Borrar</button>
            </li>
        </ul>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>